

@mixin responsive-width( $breakpoint ) {
    @media( max-width: $breakpoint ) {
        width: 100%;
    }
}

@mixin boton( $tipo ) {
    $fondo: null;
    @include responsive-width( 500px );
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 10px -5px #666;
    cursor: pointer;
    transition: all, .3s;

    @if $tipo == normal {
        $fondo: dodgerblue;
    } 
    @else if $tipo == info {
        $fondo: silver;
    } 
    @else if $tipo == danger {
        $fondo: crimson;
    } 
    @else {
        @error 'Tipo desconocido.'
    };

    background-color: $fondo;
    
    &:hover {
        transform: scale(1.05);
        background-color: lighten( $fondo, 10% );
    }
};

@mixin recuadro ( $medida, $color-borde, $color-fondo ) {
    width: $medida;
    height: $medida;
    border: 1px solid $color-borde;
    background-color: $color-fondo;
}

@mixin flex ( $wrap:no-wrap, $justify:center, $align:center ) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}